.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #fff;
  height: 100px;
  margin-top: auto;
  padding: 1.25rem 4rem;
  box-sizing: border-box;
  background-color: #1E1E1E;
}

.footer p {
  margin: 0;
}

.footer img {
  width: 9rem;
}
